# This is a script to generate a csv file for MetaboAnalyst format

In [2]:
# import libraries
import pandas as pd

In [19]:
# copy XCMS output file path here

#input_file = 'XCMS/output_Final-positive.tsv'
input_file = 'XCMS/normalized by - SERRF.csv'

# copy output file path here
MetaboAnalyst_output_file = 'XCMS/MetaboAnalyst_output_Final-positive.csv'

In [9]:
# read in XCMS output file
df_input = pd.read_csv(input_file, sep=',')
df_input.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
0,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697000,241115.417647,214304.980500,...,263320.141765,178149.213600,243441.625625,212955.719600,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757
1,M1067T861_5,0.000000,0.000000,0.000000,0.00000,41961.144462,0.000000,111937.013636,145847.268643,107387.808000,...,155558.570545,44445.443636,198661.350000,123794.274308,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834
2,M1067T861_6,0.000000,0.000000,0.000000,0.00000,25761.644091,0.000000,66747.899273,89471.239538,67989.745385,...,110506.600000,27853.613429,117762.356923,78805.610000,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186
3,M1067T862,0.000000,0.000000,0.000000,0.00000,14277.084250,477.136009,39533.585385,57129.166667,43865.296125,...,57961.469083,13683.232599,78142.305188,40726.324077,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973
4,M1067T860,0.000000,0.000000,0.000000,0.00000,58228.686400,3786.677202,164118.711538,208933.181923,146073.955200,...,231342.196923,57572.874545,274937.104286,179614.425200,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051

In [11]:
# Rename the Sample 
df_input = df_input.rename(columns={'label': 'Sample'})

In [13]:
def get_group(col_name, group):
    for i in group:
        if i == 'QC':
            if i in col_name:
                return 'QC'
        else:
            if i in col_name:
                return i

In [16]:
group = ['WT', 'KO', 'QC']
group_row = pd.Series(data=[get_group(col, group) for col in df_input.columns],
                            index=df_input.columns)
df_group =df_input._append(group_row, ignore_index=True)
df_group.tail()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
17343,M834T981,614720.229,365793.119143,102254.957386,309569.04483,82085.311414,340261.034,852014.73175,284688.361003,90108.028754,...,261936.274353,137473.410807,114627.390894,353339.633375,295626.152832,971521.807031,109641.851459,27304.886969,241693.962354,1084571.844971
17344,M289T1031,757948.964,889010.227727,1532781.367095,1241479.765077,344982.558917,1369222.296,611652.60075,498783.217909,946317.4295,...,706543.5764,692584.185333,725536.9008,842696.028364,1049304.3967,1440921.277286,2162278.581,1750201.2843,1838039.27925,761260.693769
17345,M658T382,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17346,M794T392,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6935.607317,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17347,None,KO,KO,KO,KO,KO,KO,KO,KO,KO,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [17]:
def move_row(df):
    # get datafile row
    target_row = df.shape[0] - 1
    # Move target row to first element of list.
    idx = [target_row] + [i for i in range(len(df)) if i != target_row]
    df = df.iloc[idx].reset_index(drop=True)
    df.loc[0,'Sample'] = 'Label'
    return df

In [18]:
df_group = move_row(df_group)
df_group.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
0,Label,KO,KO,KO,KO,KO,KO,KO,KO,KO,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697,241115.417647,214304.9805,...,263320.141765,178149.2136,243441.625625,212955.7196,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757
2,M1067T861_5,0.0,0.0,0.0,0.0,41961.144462,0.0,111937.013636,145847.268643,107387.808,...,155558.570545,44445.443636,198661.35,123794.274308,0.0,47834.35,38481.8025,20004.494141,32525.436364,17693.704834
3,M1067T861_6,0.0,0.0,0.0,0.0,25761.644091,0.0,66747.899273,89471.239538,67989.745385,...,110506.6,27853.613429,117762.356923,78805.61,0.0,11383.5272,18397.0338,8099.7732,17386.533508,10663.197186
4,M1067T862,0.0,0.0,0.0,0.0,14277.08425,477.136009,39533.585385,57129.166667,43865.296125,...,57961.469083,13683.232599,78142.305188,40726.324077,0.0,20015.42,13717.142334,5710.067725,12224.955872,6798.546973

In [20]:
df_group.to_csv(MetaboAnalyst_output_file, index=False)