# This is a script to generate a csv file for SERRF normalization

In [2]:
# import libraries
import pandas as pd

In [3]:
# copy XCMS output file path here
input_file = 'XCMS/output_Final-positive.tsv'

# copy output file path here
SERRF_output_file = 'XCMS/SERRF_output_Final-positive.csv'

In [6]:
# read in XCMS output file
df_xcms = pd.read_csv(input_file, sep=' ')
df_xcms.head()

,name,fold,tstat,pvalue,anova,mzmed,mzmin,mzmax,rtmed,rtmin,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
1,M105T460,7.222405,28.719354,3.949577e-07,1.032001e-16,105.067902,105.067740,105.067979,460.5000,450.378,...,263320.141765,178149.213600,243441.625625,212955.719600,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757
2,M1067T861_5,18.435555,11.689673,4.101342e-07,5.174627e-14,1067.128361,1067.126408,1067.131719,861.0825,858.311,...,155558.570545,44445.443636,198661.350000,123794.274308,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834
3,M1067T861_6,18.294577,11.458020,5.148947e-07,7.680082e-15,1067.253395,1067.251958,1067.255700,861.4365,856.255,...,110506.600000,27853.613429,117762.356923,78805.610000,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186
4,M1067T862,19.633641,11.619267,7.821424e-07,1.800824e-12,1067.379467,1067.376655,1067.380859,861.6735,857.614,...,57961.469083,13683.232599,78142.305188,40726.324077,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973
5,M1067T860,18.043017,11.174119,9.992483e-07,8.395282e-14,1067.002947,1067.001733,1067.005221,860.4495,857.614,...,231342.196923,57572.874545,274937.104286,179614.425200,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051

In [8]:
# modify column name to match SERRF format
df_xcms.rename(columns ={'name': 'Sample'}, inplace=True)
df_xcms.shape

(32482, 61)

# filter features by rt and ioncount
## remove features with rt <= 120s and rt >= 1080s

In [9]:
df_xcms = df_xcms[(df_xcms['rtmed'] >= 120) & (df_xcms['rtmed'] <= 1080)]
df_xcms.shape

(17478, 61)

##  subset xcms output with only required columns for SERRF

In [13]:

# regex to match column names with groups names 
# Sample, QC, WT, KO
for col in df_xcms:
    if col == 'Sample':
        continue
    elif len(col.split('_')) < 3:
        df_xcms.drop(col, axis=1, inplace=True)
print(df_xcms.shape)

(17478, 43)

In [14]:
df_xcms.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
1,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697000,241115.417647,214304.980500,...,263320.141765,178149.213600,243441.625625,212955.719600,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757
2,M1067T861_5,0.000000,0.000000,0.000000,0.00000,41961.144462,0.000000,111937.013636,145847.268643,107387.808000,...,155558.570545,44445.443636,198661.350000,123794.274308,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834
3,M1067T861_6,0.000000,0.000000,0.000000,0.00000,25761.644091,0.000000,66747.899273,89471.239538,67989.745385,...,110506.600000,27853.613429,117762.356923,78805.610000,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186
4,M1067T862,0.000000,0.000000,0.000000,0.00000,14277.084250,477.136009,39533.585385,57129.166667,43865.296125,...,57961.469083,13683.232599,78142.305188,40726.324077,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973
5,M1067T860,0.000000,0.000000,0.000000,0.00000,58228.686400,3786.677202,164118.711538,208933.181923,146073.955200,...,231342.196923,57572.874545,274937.104286,179614.425200,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051

# remove features with ioncounts <= 10000

In [33]:
# if all the values in a row are <10000, remove the row 
df_xcms = df_xcms[(df_xcms.iloc[:, 1:] >= 10000).any(axis=1)]
df_xcms.shape

(17347, 43)

# Convert to SERRF format

In [54]:
def convertToSerrf(df_xcms):
    df_SERRF = df_xcms.reindex(sorted(df_xcms.columns, key=lambda x: x.split('_')[-1] if x != 'Sample' else x), axis=1)
# set sample column as the first column
    df_SERRF = df_SERRF[['Sample'] + [col for col in df_SERRF.columns if col != 'Sample']]
    idx = [i for i in range(1, len(df_SERRF.index)+1)]
    df_SERRF.index = pd.Index(idx, name='No')
    #print(df_SERRF.head())
# adapt the multiindex format for SERRF
# batch: A, A, A,..
    batch = ['batch'] + ['A'] * (len(df_xcms.columns)-1)
    #print(batch)
# sampleType according to the column name (QC, sample)
    sampleType = []
    for col in df_SERRF.columns:
        if 'Sample' in col:
            sampleType.append('sampleType')
        elif 'QC' in col:
            sampleType.append('qc')
        else:
            sampleType.append('sample')
    print(sampleType)
    # time: injection order (1, 2, 3, ...)
    time = ['time'] + [i for i in range(1, len(df_SERRF.columns))]
    #time = [i for i in range(1, len(df_SERRF.columns))]
    # label: sample name
    label = ['label'] + [col for col in df_SERRF.columns if col != 'Sample']
    #label = [col for col in df_SERRF.columns if col != 'Sample']
    # create multiiindex for the datafile skip the index column
    df_SERRF.columns = pd.MultiIndex.from_arrays([batch, sampleType, time, label])
                                                        
    # add an index column with name 'No' and start from 1
    #df_SERRF.insert(0, 'No', range(1, 1 + len(df_SERRF)))
    return df_SERRF

In [55]:
df_SERRF = convertToSerrf(df_xcms)
df_SERRF.head()

['sampleType', 'qc', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'qc', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'qc', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'qc', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'sample', 'qc', 'sample', 'sample', 'sample', 'sample', 'qc']

          batch              A                                               \
     sampleType             qc                sample
           time              1                     2                      3
          label QC_38_01_13658 WT-week8-4_5_01_13659 KO-week8-5_12_01_13660
No
1      M105T460   63201.759338         116018.353667           33464.595861
2   M1067T861_5       0.000000          20004.494141               0.000000
3   M1067T861_6       0.000000           8099.773200               0.000000
4     M1067T862       0.000000           5710.067725               0.000000
5     M1067T860       0.000000          31239.807600             926.213224

                                                                           \

                        4                       5                       6
   KO-week8-3_10_01_13661 WT-week52-6_31_01_13662 KO-week16-1_20_01_13663
No
1            26921.332669           212955.719600            32157.849274
2                0.000000           123794.274308                0.000000
3                0.000000            78805.610000                0.000000
4                0.000000            40726.324077                0.000000
5                0.000000           179614.425200                0.000000

                                                                            \

                         7                       8                       9
   KO-week16-2_21_01_13664 WT-week16-2_15_01_13665 WT-week52-5_30_01_13666
No
1             36273.319771             77028.34051           243441.625625
2                 0.000000                 0.00000           198661.350000
3                 0.000000                 0.00000           117762.356923
4                 0.000000                 0.00000            78142.305188
5                 0.000000                 0.00000           274937.104286

    ...                                                                        \
    ...
    ...                    33                      34                      35
    ... WT-week8-1_2_01_13690 KO-week52-2_33_01_13691 WT-week16-4_17_01_13692
No  ...
1   ...          26227.147433           241115.417647            39649.317517
2   ...              0.000000           145847.268643                0.000000
3   ...              0.000000            89471.239538                0.000000
4   ...              0.000000            57129.166667                0.000000
5   ...              0.000000           208933.181923                0.000000

                                                                   \
                                       qc                  sample
                        36             37                      38
   KO-week16-5_24_01_13693 QC_38_01_13694 KO-week52-4_35_01_13695
No
1             27520.381231   39897.200539           218099.188636
2             41961.144462     553.433075           130159.460273
3             25761.644091     701.808649            86599.056462
4             14277.084250       0.000000            48014.445750
5             58228.686400    1530.992432           192342.893571

                                                                           \

                       39                      40                      41
   KO-week8-4_11_01_13696 KO-week16-4_23_01_13697 WT-week52-3_28_01_13698
No
1            30119.600339             28916.27705           263320.141765
2                0.000000                 0.00000           155558.570545
3                0.000000                 0.00000           110506.600000
4                0.000000                 0.00000            57961.469083
5                0.000000                 0.00000           231342.196923


               qc
               42
   QC_38_01_13699
No
1    82934.946696
2      584.073725
3        0.000000
4      700.161768
5     2175.753840

[5 rows x 43 columns]

In [56]:
# save the output file
df_SERRF.to_csv(SERRF_output_file)