# This is the script to combine the normalized feature data with XCMS output data

In [2]:
# Import library
import pandas as pd

In [3]:
# load normalized data and xcms output data
normalized_data = pd.read_csv('XCMS/normalized by - SERRF.csv')
xcms_output = pd.read_csv('XCMS/output_Final-positive.tsv', sep=' ')
# change xcms_output column name
xcms_output.rename(columns={'name': 'Sample', 'mzmed':'mz', 'rtmed': 'rtime'}, inplace=True)

In [4]:
normalized_data.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
0,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697000,241115.417647,214304.980500,...,263320.141765,178149.213600,243441.625625,212955.719600,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757
1,M1067T861_5,0.000000,0.000000,0.000000,0.00000,41961.144462,0.000000,111937.013636,145847.268643,107387.808000,...,155558.570545,44445.443636,198661.350000,123794.274308,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834
2,M1067T861_6,0.000000,0.000000,0.000000,0.00000,25761.644091,0.000000,66747.899273,89471.239538,67989.745385,...,110506.600000,27853.613429,117762.356923,78805.610000,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186
3,M1067T862,0.000000,0.000000,0.000000,0.00000,14277.084250,477.136009,39533.585385,57129.166667,43865.296125,...,57961.469083,13683.232599,78142.305188,40726.324077,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973
4,M1067T860,0.000000,0.000000,0.000000,0.00000,58228.686400,3786.677202,164118.711538,208933.181923,146073.955200,...,231342.196923,57572.874545,274937.104286,179614.425200,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051

In [5]:
xcms_output.head()

,Sample,fold,tstat,pvalue,anova,mz,mzmin,mzmax,rtime,rtmin,...,WT-week52-3_28_01_13698,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680
1,M105T460,7.222405,28.719354,3.949577e-07,1.032001e-16,105.067902,105.067740,105.067979,460.5000,450.378,...,263320.141765,178149.213600,243441.625625,212955.719600,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757
2,M1067T861_5,18.435555,11.689673,4.101342e-07,5.174627e-14,1067.128361,1067.126408,1067.131719,861.0825,858.311,...,155558.570545,44445.443636,198661.350000,123794.274308,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834
3,M1067T861_6,18.294577,11.458020,5.148947e-07,7.680082e-15,1067.253395,1067.251958,1067.255700,861.4365,856.255,...,110506.600000,27853.613429,117762.356923,78805.610000,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186
4,M1067T862,19.633641,11.619267,7.821424e-07,1.800824e-12,1067.379467,1067.376655,1067.380859,861.6735,857.614,...,57961.469083,13683.232599,78142.305188,40726.324077,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973
5,M1067T860,18.043017,11.174119,9.992483e-07,8.395282e-14,1067.002947,1067.001733,1067.005221,860.4495,857.614,...,231342.196923,57572.874545,274937.104286,179614.425200,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051

In [7]:
# select columns in xcms_output
xcms_output_sub = xcms_output[['Sample', 'pvalue', 'mz', 'rtime']]
xcms_output_sub.head()

        Sample        pvalue           mz     rtime
1     M105T460  3.949577e-07   105.067902  460.5000
2  M1067T861_5  4.101342e-07  1067.128361  861.0825
3  M1067T861_6  5.148947e-07  1067.253395  861.4365
4    M1067T862  7.821424e-07  1067.379467  861.6735
5    M1067T860  9.992483e-07  1067.002947  860.4495

In [8]:
# find the sample_max in normalized data and add a column in normalized data return column name
int_max = normalized_data.max(axis =1, numeric_only=True)

# find the column name where the value is the same as int_max
sample_max = normalized_data.eq(int_max, axis=0).idxmax(axis=1)
normalized_data['Sample_max'] = sample_max
normalized_data.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week52-4_29_01_13686,WT-week52-5_30_01_13666,WT-week52-6_31_01_13662,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680,Sample_max
0,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697000,241115.417647,214304.980500,...,178149.213600,243441.625625,212955.719600,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757,WT-week52-2_27_01_13677
1,M1067T861_5,0.000000,0.000000,0.000000,0.00000,41961.144462,0.000000,111937.013636,145847.268643,107387.808000,...,44445.443636,198661.350000,123794.274308,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834,WT-week52-5_30_01_13666
2,M1067T861_6,0.000000,0.000000,0.000000,0.00000,25761.644091,0.000000,66747.899273,89471.239538,67989.745385,...,27853.613429,117762.356923,78805.610000,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186,WT-week52-5_30_01_13666
3,M1067T862,0.000000,0.000000,0.000000,0.00000,14277.084250,477.136009,39533.585385,57129.166667,43865.296125,...,13683.232599,78142.305188,40726.324077,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973,WT-week52-5_30_01_13666
4,M1067T860,0.000000,0.000000,0.000000,0.00000,58228.686400,3786.677202,164118.711538,208933.181923,146073.955200,...,57572.874545,274937.104286,179614.425200,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051,WT-week52-5_30_01_13666

In [9]:
# add pvalue, mzmed, rtmed to normalized data
merged_data = pd.merge(normalized_data, xcms_output_sub, on = 'Sample', how='outer')
merged_data.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680,Sample_max,pvalue,mz,rtime
0,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697000,241115.417647,214304.980500,...,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757,WT-week52-2_27_01_13677,3.949577e-07,105.067902,460.5000
1,M1067T861_5,0.000000,0.000000,0.000000,0.00000,41961.144462,0.000000,111937.013636,145847.268643,107387.808000,...,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834,WT-week52-5_30_01_13666,4.101342e-07,1067.128361,861.0825
2,M1067T861_6,0.000000,0.000000,0.000000,0.00000,25761.644091,0.000000,66747.899273,89471.239538,67989.745385,...,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186,WT-week52-5_30_01_13666,5.148947e-07,1067.253395,861.4365
3,M1067T862,0.000000,0.000000,0.000000,0.00000,14277.084250,477.136009,39533.585385,57129.166667,43865.296125,...,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973,WT-week52-5_30_01_13666,7.821424e-07,1067.379467,861.6735
4,M1067T860,0.000000,0.000000,0.000000,0.00000,58228.686400,3786.677202,164118.711538,208933.181923,146073.955200,...,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051,WT-week52-5_30_01_13666,9.992483e-07,1067.002947,860.4495

In [10]:
# save the merged data
merged_data.to_csv('XCMS/normalized_output_final-positive.csv', index=False)

In [6]:
# load file
matched_data = pd.read_csv('matched_xcms_hmdbDNA.csv')
# drop the target_super_class NA rows
matched_data = matched_data.dropna(subset=['target_super_class'])
matched_data.rename(columns={'name': 'Sample'}, inplace=True)
matched_data.head()

,Unnamed: 0,Sample,fold,tstat,pvalue,anova,mz,mzmin,mzmax,rtmed,...,target_logpexp,target_kingdom,target_direct_parent,target_super_class,target_class,target_sub_class,target_molecular_framework,adduct,score,ppm_error
0,24.0,M422T656,4.280688,-8.115480,0.000011,1.270000e-05,422.089483,422.088694,422.090889,656.0250,...,NaN,Organic compounds,"3',5'-cyclic purine nucleotides","Nucleosides, nucleotides, and analogues",Purine nucleotides,Cyclic purine nucleotides,Aromatic heteropolycyclic compounds,[M+Na]+,0.005879,13.927482
1,78.0,M240T350,4.845136,6.554947,0.000082,1.220000e-07,240.104424,240.104045,240.104789,349.7100,...,NaN,Organic compounds,Cyclopentyl nucleosides,"Nucleosides, nucleotides, and analogues",Nucleoside and nucleotide analogues,Cyclopentyl nucleosides,Aromatic heteromonocyclic compounds,[M+H]+,0.006542,27.249257
2,115.0,M585T984,2.597951,-6.054108,0.000140,5.890000e-05,585.325000,585.321310,585.326904,984.3775,...,NaN,Organic compounds,5'-deoxyribonucleosides,"Nucleosides, nucleotides, and analogues",5'-deoxyribonucleosides,NaN,Aromatic heteropolycyclic compounds,[M+Na]+,-0.002207,3.770957
3,200.0,M283T589,1.308722,-5.265014,0.000373,4.375475e-02,283.109724,283.109291,283.110169,589.2965,...,NaN,Organic compounds,Purine nucleosides,"Nucleosides, nucleotides, and analogues",Purine nucleosides,NaN,Aromatic heteropolycyclic compounds,[M+H]+,0.006028,21.292982
4,260.0,M249T717,1.392121,-5.091062,0.000598,7.805555e-01,249.104852,249.104229,249.105455,716.6920,...,NaN,Organic compounds,Pyrimidine nucleosides,"Nucleosides, nucleotides, and analogues",Pyrimidine nucleosides,NaN,Aliphatic heteromonocyclic compounds,[M+H]+,-0.003260,13.087663

In [9]:
len(matched_data)

67

In [5]:
merged_data = pd.read_csv('XCMS/normalized_output_final-positive.csv')
merged_data.head()

,Sample,KO-week16-1_20_01_13663,KO-week16-2_21_01_13664,KO-week16-3_22_01_13672,KO-week16-4_23_01_13697,KO-week16-5_24_01_13693,KO-week16-6_25_01_13675,KO-week52-1_32_01_13688,KO-week52-2_33_01_13691,KO-week52-3_34_01_13687,...,WT-week8-1_2_01_13690,WT-week8-2_3_01_13682,WT-week8-3_4_01_13671,WT-week8-4_5_01_13659,WT-week8-5_6_01_13673,WT-week8-6_7_01_13680,Sample_max,pvalue,mz,rtime
0,M105T460,32157.849274,36273.319771,28742.360063,28916.27705,27520.381231,33012.695643,205736.697000,241115.417647,214304.980500,...,26227.147433,31437.173176,33048.412969,116018.353667,27066.575964,29045.150757,WT-week52-2_27_01_13677,3.949577e-07,105.067902,460.5000
1,M1067T861_5,0.000000,0.000000,0.000000,0.00000,41961.144462,0.000000,111937.013636,145847.268643,107387.808000,...,0.000000,47834.350000,38481.802500,20004.494141,32525.436364,17693.704834,WT-week52-5_30_01_13666,4.101342e-07,1067.128361,861.0825
2,M1067T861_6,0.000000,0.000000,0.000000,0.00000,25761.644091,0.000000,66747.899273,89471.239538,67989.745385,...,0.000000,11383.527200,18397.033800,8099.773200,17386.533508,10663.197186,WT-week52-5_30_01_13666,5.148947e-07,1067.253395,861.4365
3,M1067T862,0.000000,0.000000,0.000000,0.00000,14277.084250,477.136009,39533.585385,57129.166667,43865.296125,...,0.000000,20015.420000,13717.142334,5710.067725,12224.955872,6798.546973,WT-week52-5_30_01_13666,7.821424e-07,1067.379467,861.6735
4,M1067T860,0.000000,0.000000,0.000000,0.00000,58228.686400,3786.677202,164118.711538,208933.181923,146073.955200,...,0.000000,72489.356211,45208.115455,31239.807600,39746.296625,25819.375051,WT-week52-5_30_01_13666,9.992483e-07,1067.002947,860.4495

In [13]:
len(merged_match_data)

32488

In [12]:
merged_match_data = pd.merge(matched_data,merged_match_data, on = 'Sample', how='outer')
merged_match_data.head()

,Unnamed: 0_x,Sample,fold_x,tstat_x,pvalue,anova_x,mz,mzmin_x,mzmax_x,rtmed_x,...,target_logpexp_y,target_kingdom_y,target_direct_parent_y,target_super_class_y,target_class_y,target_sub_class_y,target_molecular_framework_y,adduct_y,score_y,ppm_error_y
0,24.0,M422T656,4.280688,-8.115480,0.000011,1.270000e-05,422.089483,422.088694,422.090889,656.0250,...,NaN,Organic compounds,"3',5'-cyclic purine nucleotides","Nucleosides, nucleotides, and analogues",Purine nucleotides,Cyclic purine nucleotides,Aromatic heteropolycyclic compounds,[M+Na]+,0.005879,13.927482
1,78.0,M240T350,4.845136,6.554947,0.000082,1.220000e-07,240.104424,240.104045,240.104789,349.7100,...,NaN,Organic compounds,Cyclopentyl nucleosides,"Nucleosides, nucleotides, and analogues",Nucleoside and nucleotide analogues,Cyclopentyl nucleosides,Aromatic heteromonocyclic compounds,[M+H]+,0.006542,27.249257
2,115.0,M585T984,2.597951,-6.054108,0.000140,5.890000e-05,585.325000,585.321310,585.326904,984.3775,...,NaN,Organic compounds,5'-deoxyribonucleosides,"Nucleosides, nucleotides, and analogues",5'-deoxyribonucleosides,NaN,Aromatic heteropolycyclic compounds,[M+Na]+,-0.002207,3.770957
3,200.0,M283T589,1.308722,-5.265014,0.000373,4.375475e-02,283.109724,283.109291,283.110169,589.2965,...,NaN,Organic compounds,Purine nucleosides,"Nucleosides, nucleotides, and analogues",Purine nucleosides,NaN,Aromatic heteropolycyclic compounds,[M+H]+,0.006028,21.292982
4,260.0,M249T717,1.392121,-5.091062,0.000598,7.805555e-01,249.104852,249.104229,249.105455,716.6920,...,NaN,Organic compounds,Pyrimidine nucleosides,"Nucleosides, nucleotides, and analogues",Pyrimidine nucleosides,NaN,Aliphatic heteromonocyclic compounds,[M+H]+,-0.003260,13.087663

In [16]:
merged_match_data.shape

(32488, 229)

In [8]:
# save the merged data
merged_match_data.to_csv('merged_matchDNA.csv', index=False)